.footer_btn {
    background: #88B702;
    border: none;
    padding: 12px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 16px;
    width: 160px;
    height: 65px;
}

@media (min-width: 390px) and (max-width:1200px) {
    .footer_btn {
        width: 260px;
        margin-top: 18px;
    }
}