.btn_technology {
    width: 150px;
    height: 60px;
    background-color: white;
    border-radius: 80px;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: bold;
    font-size: 15px;
    align-items: center;
    /* line-height: 16px; */
    color: #88B702;
    border: none;
    cursor: pointer;
}

@media (min-width:390px) and (max-width:1200px) {
    .btn_technology {
        width: 350px;
        height: 70px;
        font-size: 16px;
    }
}