.advantages_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 120px 0;
  background-color: black;
}

.phones_block {
  position: relative;
  width: 420px;
  height: 420px;
}

.green_glow {
  position: absolute;
  width: 750px;
  height:  750px;
  background: radial-gradient(circle, #597b03 0%, #0f0f0f 60%);
  border-radius: 50%;
  filter: blur(40px);
  top: -100px;
  left: 20px;
  z-index: 1;
}

.phone {
  position: absolute;
  width: 400px;
  z-index: 2; 
  margin-left: 160px;
  margin-top: 40px;
}



.text_block {
  max-width: 460px;
  margin-right: 200px;
}

.text_block h2 {
  font-family: "DM Sans";
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.description {
  color: white;
  font-size: 16px;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 30px;
}

.advantages_list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages_list li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  color: white;
}

.advantages_list li img {
  width: 45px;
  margin-right: 12px;
}

@media (max-width: 800px) {

  .advantages_section {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    position: relative;
  }

  .phones_block {
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -50px;
  }

  .green_glow {
    width: 300px;
    height: 700px;
    margin-top: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
    filter: blur(55px);
    z-index: 0;
  }

  .phone {
    width: 260px;
    margin: 0;
    z-index: 2;
    position: relative;
  }

  .text_block {
    margin: 0;
    max-width: 330px;
    text-align: center;
    z-index: 3;
  }

  .text_block h2 {
    font-size: 28px;
    text-align: left;
    padding: 0 10px;
  }

  .description {
    font-size: 16px;
    text-align: left;
    padding: 0 10px;
  }

  .advantages_list li {
    text-align: left;
  }
}