.container {
  background-color: black;
  padding: 100px 0;
  font-family: "DM Sans";
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 120px 60px;
  color: white;
}

.text h2 {
  font-size: 42px;
  width: 350px;
}

.text p {
  width: 450px;
  line-height: 1.6;
  opacity: 0.8;
}

.about_it {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 50px;
}

.articles {
  display: flex;
  justify-content: center;
}


@media (min-width: 390px) and (max-width: 1200px) {
  .text {
    flex-direction: column;
    gap: 20px;
    margin: 0 40px 50px;
  }

  .text h2 {
    font-size: 32px;
  }

  .text p {
    width: 100%;
    font-size: 16px;
  }

  .about_it {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 60px 0;
  }

  .text {
    margin: 0 20px 40px;
  }

  .text h2 {
    font-size: 28px;
  }
}