.container {
    display: flex;
    background-color:  black;
    height: 90vh;  
    align-items: center;
    gap: 61px;
}

.text {
  max-width: 420px;
  margin-left: 180px;
}

.text h2 {
  font-family: "DM Sans";
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
  color: white;
}

.description {
  color: white;
  font-size: 16px;
  font-family: "DM Sans";
  line-height: 1.6;
  margin-bottom: 30px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 16px;
  color: white;
}

.list li img {
  width: 45px;
  margin-right: 12px;
}

.vidio_container  {
    width: 560px;
    height: 350px;
    border-radius: 40px;
    background-color: #FFFFFF1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #FFFFFF33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play_icon {
    margin-left: 7px;
    margin-top: 4px;
}

video {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: block;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
        padding: 60px 20px;
        gap: 40px;
    }

    .text {
      width: 330px;
      margin: 0;
    }

    .text h2 {
      font-size: 28px;
      padding: 0 10px;
    }

    .description {
      font-size: 16px;
      padding: 0 10px;
    }

    .list {
      padding: 0 10px;
    }

    .vidio_container {
      width: 350px;
      height: 500px;
      border-radius: 40px;
    }

    .vidio {
      width: 100%;
      height: 100%;
      border-radius: 40px;
      display: block; 
    }
}