.btn_users {
    display: none;
}

@media (min-width:390px) and (max-width:1200px) {
    .btn_users {
        display: block;
        margin: 0;
        padding: 0;
        width: 330px;
        height: 70px;
        font-size: 16px;
        font-weight: 700;
        align-items: center;
        background-color: #88B702;
        color: white;
        border-radius: 50px;
        line-height: 16px;
        /* display: flex; */
        /* justify-content: center; */
        border: none;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}