@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.header {
    background-color: #050605;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}

.nav {
    display: flex;
    align-items: center;
    gap: 318px;
    padding: 24px 24px; 
    max-width: 1210px;
    align-items: center;
    margin: 0 auto;
}

.top_nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.logo  img {
    height: 34px;
    width: 72px;
}

.line {
    width: 1px;
    height: 66px;
    background-color: #FFFFFF1A;
}

.burger {
    display: none;
    width: 45px;
    height: 45px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background-color: #88B702;
    border-radius: 50%;
}

.burger span {
    padding: 9px;
}


.mobile_menu {
    display: flex;
    flex-direction: column;
    background: #050605;
    padding: 20px;
    gap: 20px;
}

.mobile_menu a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.mobile_menu a:hover {
    opacity: 0.7;
}

.navigation {
    display: flex;
    gap: 27px;
    font-size: 14px;
    font-family: "DM Sans";
    font-weight: 300;
    font-style: Medium;
}

.navigation a {
    color: #FFFFFF;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline solid;
}

@media (min-width: 390px) and (max-width: 1200px) {

    .top_nav {
        padding: 10px;
        width: 100%;
        justify-content: space-between;
    }

    .logo img {
        width: 97px;
        height: 45px;
    }

    .navigation {
        display: none;
    }

    .btn {
        display: none   ;
    }

    .line {
        display: none;
    }

    .burger {
        display: block;
    }
}