.card {
  background-color: #FFFFFF1A;
  padding: 25px 25px;
  width: 325px;
  height: 295px;
  border-radius: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 68px;
  height: 68px;
}

.card p {
  font-size: 16px;
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 1.4;
  max-width: 260px;
  margin: 0;
  text-align: left;
}

.card h3 {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  line-height: 26px;
  margin-right: 90px;
  text-align: left;
  margin: 0;
}

@media (min-width: 390px) and (max-width: 1200px) {
  .card {
    width: 80%;

    padding: 22px;
  }

  .card h3 {
    font-size: 18px;
  }

  .card p {
    font-size: 16px;
  }

  .icon {
    width: 68px;
    height: 68px;
  }
}