.header_btn {
    width: 245px;
    height: 50px;
    background-color: #88B702;
    border-radius: 80px;
    font-family: "DM Sans";
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    align-items: center;
    /* line-height: 16px; */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}